@media screen and ( min-width: 480px ) {

    .left-column-icon span{
        display: inline;
    }
    
    .left-column-icon .logo-xl{
        display: inline;
        width: 15vw;
        margin-bottom: 5vh;
    }

    .left-column-icon .logo-xs{
        display: none;
    }

    .left-column-icon{
        align-items: flex-start;
    }

    .left-column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1%;
        background-color: #000000;
        width: 20vw;
        height: 90vh;
    }
}











@media screen and ( min-width: 768px ){
    
}











@media screen and ( min-width: 1024px ){

}