@media screen and ( min-width: 480px ) {

    body{
        font-size: 0.5rem;
    }

    .left-column-icon .logo-xl{
        display: inline;
    }

    .left-column-icon .logo-xs{
        display: none;
    }

    .left-column-icon span{
        color: white;
        display: inline;
    }

    
}











@media screen and ( min-width: 768px ){

    body{
        font-size: 0.5rem;
    }

    .left-column-icon .logo-xl{
        display: inline;
    }

    .left-column-icon .logo-xs{
        display: none;
    }

    .left-column-icon span{
        color: white;
        display: inline;
    }

    
}











@media screen and ( min-width: 1024px ){

    body{
        font-size: 1rem;
    }

    .left-column-icon .logo-xl{
        display: inline;
    }

    .left-column-icon .logo-xs{
        display: none;
    }

    .left-column-icon span{
        color: white;
        display: inline;
    }

    

}