body{
    font-family: sans-serif;
    display: flex;
    margin: 0%;
}

span{
    color: white;
    display: none;
}

h2{
    color: white;
}

p{
    color: white;
}

.main{
    display: flex;
}

.left-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 10%;
    height: 90vh;
    padding: 1%;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon{
    width: 1.5rem;
}

.icon-download{
    width: 1rem;
}

.icon-prof{
    background-color: #808080;
    border-radius: 25px;
    width: 25px;
}


.no-mob{
    display: none;
}

.img-logo{
    display: none;
}

.upg{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #090B12;
    width: 90%;
    height: 8vh;
    font-size: 0.5rem;
}
    

a{
    color: white;
    text-decoration: none;
    margin: 5%;
    border-style: groove;
    border-radius: 20px;
    border-color: white;
    padding: 2%;
}

.main{
    display: inline-block;
    background-color: #141922;
    width: 90%;
    height: 75vh;
}