body{
    font-family: sans-serif;
    font-size: 8px;
    margin: auto;

}

.main{
    display: flex;
}

/* COLONNA DI SINISTRA */

.left-column-icon .logo-xl{
    display: none;

}

.left-column-icon .logo-xs{
    display: inline;
}

.left-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    background-color: #000000;
    width: 10vw;
    height: 90vh;
}

.left-column img{
    width: 1rem;
    display: inline;
}

.left-column-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.left-column-icon span{
    color: white;
    display: none;
}

.logo-xl{
    display: none;
}

.img-span{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 2px;
}

.cross-span{
    display: flex;
    flex-direction: row;
    align-items:  center;
    gap: 2px;
}

.cross{
    background-color: gray;
    font-size: x-large;
}

/* RIGA SOPRA */

.upgrade{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #090b12;
    color: white;
    width: 90vw;
    height: 5vh;
}

.upgrade span{
    border-style: groove;
    border-radius: 25px;
    border-color: white;
}

.scroll{
    display: flex;
    background-color: #141922;
    color: white;
    width: 90vw;
    height: 85vh;
    padding: 1%;
}

                
